.u-scrollable.spectrum-Site-nav
  nav
    ul.spectrum-SideNav.spectrum-SideNav--multiLevel
      li.spectrum-SideNav-item(class=pageURL === 'getting-started.html' ? 'is-selected' : '')
        a.spectrum-SideNav-itemLink(href='get-started.html')
          span.spectrum-SideNav-link-text Get started
      li.spectrum-SideNav-item
        a.spectrum-SideNav-itemLink(href='https://github.com/adobe/spectrum-css', target='_blank', rel='noopener')
          span.spectrum-SideNav-link-text GitHub
      li.spectrum-SideNav-item
        a.spectrum-SideNav-itemLink(href='#')
          span.spectrum-SideNav-link-text Components
        ul.spectrum-SideNav.spectrum-SideNav--multiLevel
          each item in nav
            unless item.status == "Deprecated"
              li.spectrum-SideNav-item(class=pageURL === item.href ? 'is-selected' : '')
                a(class={
                  'spectrum-SideNav-itemLink': true,
                }, href=item.href)
                  span.spectrum-SideNav-link-text
                    =item.name
      li.spectrum-SideNav-item
        a.spectrum-SideNav-itemLink(href='#')
          span.spectrum-SideNav-link-text Deprecated
        ul.spectrum-SideNav.spectrum-SideNav--multiLevel
          each item in nav
            if item.status == "Deprecated"
              li.spectrum-SideNav-item(class=pageURL === item.href ? 'is-selected' : '')
                a(class={
                  'spectrum-SideNav-itemLink': true,
                }, href=item.href)
                  span.spectrum-SideNav-link-text
                    =item.name
  nav.spectrum-Site-bottomNav
    ul.spectrum-SideNav
      li.spectrum-SideNav-item
        a.spectrum-SideNav-itemLink(href='https://spectrum.adobe.com', target='_blank', rel='noopener')
          span.spectrum-SideNav-link-text Spectrum
      li.spectrum-SideNav-item
        a.spectrum-SideNav-itemLink(href=process.env.CHROMATIC_URL ? process.env.CHROMATIC_URL : 'preview/index.html', rel='noopener')
          span.spectrum-SideNav-link-text Component preview
