title: {{ name }}
description: {{ description }}
status: Verified
designLink: https://spectrum.adobe.com/page/{{ kebabCase name }}/
SWC:
    url: https://opensource.adobe.com/spectrum-web-components/components/{{ kebabCase name }}/
    tag: "sp-{{ kebabCase name }}"
sizing: ["s", "m", "l", "xl"]
examples:
  - id: {{ folderName }}-sizing
    title: Sizing
    markup:
      - title: XS
        group:
          - |
            <div class="spectrum-{{ pascalCase name }} spectrum-{{ pascalCase name }}--sizeXS"></div>
      - title: S
        group:
          - |
            <div class="spectrum-{{ pascalCase name }} spectrum-{{ pascalCase name }}--sizeS"></div>
      - title: M (default)
        group:
          - |
            <div class="spectrum-{{ pascalCase name }} spectrum-{{ pascalCase name }}--sizeM"></div>
      - title: L
        group:
          - |
            <div class="spectrum-{{ pascalCase name }} spectrum-{{ pascalCase name }}--sizeL"></div>
      - title: XL
        group:
          - |
            <div class="spectrum-{{ pascalCase name }} spectrum-{{ pascalCase name }}--sizeXL"></div>
