import { Template } from "./template.js";

/**
  * {{ description }}
  */
export default {
  title: "Components/{{ name }}",
  component: "{{ pascalCase name }}",
  argTypes: {
    size: {
      name: "Size",
      type: { name: "string", required: true },
      defaultValue: "m",
      table: {
        type: { summary: "string" },
        category: "Component",
        defaultValue: { summary: "m" }
      },
      options: ["s", "m", "l", "xl"],
      control: "select"
    },
  },
  args: {
    rootClass: "spectrum-{{ pascalCase name }}",
    size: "m",
  },
  parameters: {
    actions: {
      handles: []
    },
    status: {
      type: "migrated"
    },
    design: {
      type: "figma",
      url: "",
    },
  }
};

const {{ pascalCase name }}Group = (args) => html`
	${window.isChromatic() ? html`
		<div style=${styleMap({
			display: "flex",
			flexWrap: "wrap",
			gap: "2em"
		})}>
			${Template(args)}
			${Template({
				...args,
			})}
			${Template({
				...args,
			})}
		</div>
	` : Template(args)}
`;

export const Default = {{ pascalCase name }}Group.bind({});
Default.args = {};
