-

  // Get DNA data
  util.populateDNAInfo(component, dnaVars);

  // Arrange examples for processing
  var examples;
  if (!component.examples) {
    // Only one top-level example
    examples = [component];
  }
  else {
    // Multiple child examples
    examples = component.examples;
  }

  if (!Array.isArray(examples)) {
    examples = Object.values(examples);
  }

  examples.forEach(example => {
    if (example.dnaStatus === 'Deprecated' || example.cssStatus === 'Deprecated') {
      example.status = 'Deprecated';
    }
    else if (example.cssStatus === 'Verified' || example.dnaStatus === 'Canon') {
      example.status = 'Verified';
    }
    else {
      example.status = 'Contribution';
    }
  });

  let dnaStatusTranslation = {
    'Canon': 'Verified',
    'Precursor': 'Contribution'
  };

  let exampleOrder = {
    'Verified': 1,
    'Contribution': 2,
    'Deprecated': 3
  };

  let status = dnaStatusTranslation[component.dnaStatus] || component.dnaStatus;

doctype html
html(lang='en-US' dir="ltr").spectrum.spectrum--light.spectrum--medium
  head
    title #{component.name} - Spectrum CSS

    include ../includes/dependencies.pug

  body

    .spectrum-Site

      include ../includes/header.pug

      .spectrum-Site-content

        include ../includes/sidebar.pug

        .spectrum-Site-mainContainer

          article.spectrum-CSSComponent

            .spectrum-CSSComponent-switcher
              div.spectrum-CSS-switcherContainer
                label.spectrum-FieldLabel.spectrum-FieldLabel--left(for='switcher-theme') Theme

                .spectrum-Dropdown.spectrum-Dropdown--quiet(id="switcher-theme")
                  button.spectrum-FieldButton.spectrum-FieldButton--quiet.spectrum-Dropdown-trigger(aria-haspopup="true")
                    span.spectrum-Dropdown-label Light
                    svg.spectrum-Icon.spectrum-UIIcon-ChevronDownMedium.spectrum-Dropdown-icon(focusable="false" aria-hidden="true")
                      use(xlink:href="#spectrum-css-icon-ChevronDownMedium")
                  .spectrum-Popover.spectrum-Popover--bottom.spectrum-Dropdown-popover.spectrum-Dropdown-popover--quiet
                    ul.spectrum-Menu(role='listbox')
                      li.spectrum-Menu-item(role='option' aria-selected='true' tabindex='0' value="lightest")
                        span.spectrum-Menu-itemLabel Lightest
                        svg.spectrum-Icon.spectrum-UIIcon-CheckmarkMedium.spectrum-Menu-checkmark.spectrum-Menu-itemIcon(focusable='false' aria-hidden='true')
                          use(xlink:href='#spectrum-css-icon-CheckmarkMedium')
                      li.spectrum-Menu-item.is-selected(role='option' tabindex='0' value="light")
                        span.spectrum-Menu-itemLabel Light
                        svg.spectrum-Icon.spectrum-UIIcon-CheckmarkMedium.spectrum-Menu-checkmark.spectrum-Menu-itemIcon(focusable='false' aria-hidden='true')
                          use(xlink:href='#spectrum-css-icon-CheckmarkMedium')
                      li.spectrum-Menu-item(role='option' tabindex='0' value="dark")
                        span.spectrum-Menu-itemLabel Dark
                        svg.spectrum-Icon.spectrum-UIIcon-CheckmarkMedium.spectrum-Menu-checkmark.spectrum-Menu-itemIcon(focusable='false' aria-hidden='true')
                          use(xlink:href='#spectrum-css-icon-CheckmarkMedium')
                      li.spectrum-Menu-item(role='option' tabindex='0' value="darkest")
                        span.spectrum-Menu-itemLabel Darkest
                        svg.spectrum-Icon.spectrum-UIIcon-CheckmarkMedium.spectrum-Menu-checkmark.spectrum-Menu-itemIcon(focusable='false' aria-hidden='true')
                          use(xlink:href='#spectrum-css-icon-CheckmarkMedium')
              div.spectrum-CSS-switcherContainer
                label.spectrum-FieldLabel.spectrum-FieldLabel--left(for='switcher-scale') Scale

                .spectrum-Dropdown.spectrum-Dropdown--quiet(id="switcher-scale")
                  button.spectrum-FieldButton.spectrum-FieldButton--quiet.spectrum-Dropdown-trigger(aria-haspopup="true")
                    span.spectrum-Dropdown-label Medium
                    svg.spectrum-Icon.spectrum-UIIcon-ChevronDownMedium.spectrum-Dropdown-icon(focusable="false" aria-hidden="true")
                      use(xlink:href="#spectrum-css-icon-ChevronDownMedium")
                  .spectrum-Popover.spectrum-Popover--bottom.spectrum-Dropdown-popover.spectrum-Dropdown-popover--quiet
                    ul.spectrum-Menu(role='listbox')
                      li.spectrum-Menu-item.is-selected(role='option' aria-selected='true' tabindex='0' value="medium")
                        span.spectrum-Menu-itemLabel Medium
                        svg.spectrum-Icon.spectrum-UIIcon-CheckmarkMedium.spectrum-Menu-checkmark.spectrum-Menu-itemIcon(focusable='false' aria-hidden='true')
                          use(xlink:href='#spectrum-css-icon-CheckmarkMedium')
                      li.spectrum-Menu-item(role='option' tabindex='0' value="large")
                        span.spectrum-Menu-itemLabel Large
                        svg.spectrum-Icon.spectrum-UIIcon-CheckmarkMedium.spectrum-Menu-checkmark.spectrum-Menu-itemIcon(focusable='false' aria-hidden='true')
                          use(xlink:href='#spectrum-css-icon-CheckmarkMedium')
              div.spectrum-CSS-switcherContainer
                label.spectrum-FieldLabel.spectrum-FieldLabel--left(for='switcher-theme') Direction

                .spectrum-Dropdown.spectrum-Dropdown--quiet(id="switcher-direction")
                  button.spectrum-FieldButton.spectrum-FieldButton--quiet.spectrum-Dropdown-trigger(aria-haspopup="true")
                    span.spectrum-Dropdown-label LTR
                    svg.spectrum-Icon.spectrum-UIIcon-ChevronDownMedium.spectrum-Dropdown-icon(focusable="false" aria-hidden="true")
                      use(xlink:href="#spectrum-css-icon-ChevronDownMedium")
                  .spectrum-Popover.spectrum-Popover--bottom.spectrum-Dropdown-popover.spectrum-Dropdown-popover--quiet
                    ul.spectrum-Menu(role='listbox')
                      li.spectrum-Menu-item.is-selected(role='option' aria-selected='true' tabindex='0' value="ltr")
                        span.spectrum-Menu-itemLabel LTR
                        svg.spectrum-Icon.spectrum-UIIcon-CheckmarkMedium.spectrum-Menu-checkmark.spectrum-Menu-itemIcon(focusable='false' aria-hidden='true')
                          use(xlink:href='#spectrum-css-icon-CheckmarkMedium')
                      li.spectrum-Menu-item(role='option' tabindex='0' value="rtl")
                        span.spectrum-Menu-itemLabel RTL
                        svg.spectrum-Icon.spectrum-UIIcon-CheckmarkMedium.spectrum-Menu-checkmark.spectrum-Menu-itemIcon(focusable='false' aria-hidden='true')
                          use(xlink:href='#spectrum-css-icon-CheckmarkMedium')

            header(id=component.slug).spectrum-CSSComponent-heading
              h1.spectrum-CSSComponent-title.spectrum-Heading.spectrum-Heading--XXXL.spectrum-Heading--serif
                a(href=`#${component.slug}`).spectrum-BigSubtleLink #{component.name}

            table.spectrum-CSSComponent-detailsTable
              tr
                th.spectrum-Body--secondary Component status
                td
                  div(class=`spectrum-StatusLight spectrum-CSSComponent-status spectrum-StatusLight--${util.getStatusLightVariant(component.dnaStatus)}`)= status
              tr
                th.spectrum-Body--secondary Last released
                td= releaseDate
              tr
                th.spectrum-Body--secondary Current version
                td #{pkg.name}@#{pkg.version}
            if component.details
              tr
                th Details
                tr!= util.markdown.render(component.details)

            div.spectrum-CSSComponent-resources
              if component.SpectrumSiteSlug
                a.spectrum-Card.spectrum-Card--small.spectrum-Card--horizontal(href=`${component.SpectrumSiteSlug}` target="_blank")
                  .spectrum-Card-preview.spectrum-CSSComponent-resource--adobe
                    svg(class="spectrum-Icon spectrum-Icon--sizeL" viewBox="0 0 36 36" focusable="false" aria-hidden="true" aria-label="AdobeLogo")
                      path(d="M22.175 4H34v28L22.175 4zm-8.336 0H2v28L13.839 4zm4.165 10.317l7.538 17.682h-4.939l-2.258-5.632h-5.517l5.176-12.05z")
                  .spectrum-Card-body
                    .spectrum-Card-header
                      .spectrum-Card-title.
                        View guidelines
                    .spectrum-Card-content
                      .spectrum-Card-description.
                        Spectrum website
              a.spectrum-Card.spectrum-Card--small.spectrum-Card--horizontal(href=`https://github.com/adobe/spectrum-css/tree/master/components/${pkg.name.split('/').pop()}` target="_blank")
                .spectrum-Card-preview.spectrum-CSSComponent-resource--github
                  svg(class="spectrum-Icon spectrum-Icon--sizeL" focusable="false" aria-hidden="true" aria-label="GitHub" viewBox="0 0 36 36")
                    path(d="M17.988 2a16.291 16.291 0 0 0-5.147 31.747c.814.149 1.111-.354 1.111-.786 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184a4.32 4.32 0 0 0-1.809-2.383c-1.479-1.01.112-.99.112-.99a3.42 3.42 0 0 1 2.495 1.679 3.468 3.468 0 0 0 4.741 1.353 3.482 3.482 0 0 1 1.034-2.177C11.4 25.078 7.6 23.68 7.6 17.438a6.3 6.3 0 0 1 1.677-4.371 5.863 5.863 0 0 1 .16-4.311s1.368-.438 4.479 1.67a15.451 15.451 0 0 1 8.157 0c3.109-2.108 4.475-1.67 4.475-1.67a5.857 5.857 0 0 1 .162 4.311 6.286 6.286 0 0 1 1.674 4.371c0 6.258-3.808 7.635-7.437 8.038a3.888 3.888 0 0 1 1.106 3.017c0 2.177-.02 3.934-.02 4.468 0 .436.293.943 1.12.784A16.292 16.292 0 0 0 17.988 2z")
                .spectrum-Card-body
                  .spectrum-Card-header
                    .spectrum-Card-title.
                      View repository
                  .spectrum-Card-content
                    .spectrum-Card-description.
                      GitHub
              a.spectrum-Card.spectrum-Card--small.spectrum-Card--horizontal(href=`https://www.npmjs.com/package/${pkg.name}` target="_blank")
                .spectrum-Card-preview.spectrum-CSSComponent-resource--npm
                  svg(class="spectrum-Icon spectrum-Icon--sizeL" viewBox="0 0 18 7" focusable="false" aria-hidden="true" aria-label="npm")
                    path(fill="#CB3837" d="M0,0h18v6H9v1H5V6H0V0z M1,5h2V2h1v3h1V1H1V5z M6,1v5h2V5h2V1H6z M8,2h1v2H8V2z M11,1v4h2V2h1v3h1V2h1v3h1V1H11z")
                    polygon(fill="#FFFFFF" points="1,5 3,5 3,2 4,2 4,5 5,5 5,1 1,1 ")
                    path(fill="#FFFFFF" d="M6,1v5h2V5h2V1H6z M9,4H8V2h1V4z")
                    polygon(fill="#FFFFFF" points="11,1 11,5 13,5 13,2 14,2 14,5 15,5 15,2 16,2 16,5 17,5 17,1 ")
                .spectrum-Card-body
                  .spectrum-Card-header
                    .spectrum-Card-title.
                      View package
                  .spectrum-Card-content
                    .spectrum-Card-description.
                      npm

            if component.description
              header.spectrum-CSSComponent-sectionHeading(id="usage")
                h2.spectrum-Heading.spectrum-Heading--M
                  a(href="#usage").spectrum-BigSubtleLink Usage notes
                hr.spectrum-Rule.spectrum-Rule--large
              section.spectrum-CSSComponent-description
                div.spectrum-Body.spectrum-Body--M!= util.markdown.render(component.description)

            if examples.length
              header.spectrum-CSSComponent-sectionHeading(id="variants")
                h2.spectrum-Heading.spectrum-Heading--M
                  a(href="#variants").spectrum-BigSubtleLink=`${component.examplesHeading ? component.examplesHeading : 'Variants'}`
                hr.spectrum-Rule.spectrum-Rule--large
              each example in examples
                include ../includes/example.pug

            if component.sections
              each section in component.sections
                include ../includes/section.pug

            include ../includes/footer.pug

    include ../includes/pageBottom.pug
